<div class="card">
    <div *ngIf="!editTaskId" class="card-header h4">Įtraukti naują užduotį</div>
    <div *ngIf="editTaskId" class="card-header h4">Atnaujinti užduotį</div>
    <div class="card-body">
        <form action="" [formGroup]="newTaskForm" class="d-flex flex-column">
            <div class="mb-3">
                <label for="" class="form-label">Užduotis</label>
                <input type="text" class="form-control" formControlName="description">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Pradžios data</label>
                <input type="date" class="form-control" formControlName="startDate">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Pabaigos data</label>
                <input type="date" class="form-control" formControlName="endDate">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Statusas</label>
                <select class="form-control" formControlName="status">
                    <option *ngFor="let status of statusOption" [value]="status">{{ status }}</option>
                </select>
            </div>


            <div *ngIf="!editTaskId">
                <button class="btn btn-outline-success" (click)="addTask()">Pridėti užduotį</button>
            </div>
            <div *ngIf="editTaskId">
                <button class="btn btn-outline-danger" (click)="updateTask()">Atnaujinti užduotį</button>
            </div>
        </form>
    </div>
</div>